[submodule "app/assets/app/assets/AddonsAnimation"]
	path = app/assets/app/assets/AddonsAnimation
	url = https://github.com/Leo-ThomelinTual/AddonsAnimation.git
[submodule "AddonsAnimation"]
	path = AddonsAnimation
	url = https://github.com/Leo-ThomelinTual/AddonsAnimation.git
[submodule "app/assets/AddonsAnimation"]
	path = app/assets/AddonsAnimation
	url = https://github.com/Leo-ThomelinTual/AddonsAnimation.git
