# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
public/video/showcase.mp4
public/video/showcase2.mp4
public/video/showcase3.mp4
public/video/animexplosion.mp4
