@keyframes fadeIn {
  from {
    filter: blur(300px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes fadeOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(300px);
  }
}

@media screen and (min-width: 1280px) {
  [data-tag="fade-up"] {
    will-change: transform, opacity;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 1s ease,
      transform 0.5s ease;
  }

  [data-tag="fade-up"].visible {
    opacity: 1;
    transform: translateY(0);
  }
}
