/*
############################################
#          -- In Animation --             #   
############################################
###-----------------Start----------------### 
*/

@keyframes Pop_In {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes Pop_In-Bounce {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

/*
  ###-----------------END------------------### 
  ############################################
  #          -- In Animation --             #   
  ############################################
  */

/*
############################################
#          -- Out Animation --             #   
############################################
###-----------------Start----------------### 
*/

@keyframes Pop_Out {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes Pop_Out-Bounce {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(0%);
  }
}

/*
  ###-----------------END------------------### 
  ############################################
  #          -- Out Animation --             #   
  ############################################
  */
