/* Rotation negative -200deg  */
@keyframes r-200 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-200deg);
  }
}
/* Rotation negative -180deg  */
@keyframes r-180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
/* Rotation negative -90deg  */
@keyframes r-90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
/* Rotation 90deg  */
@keyframes r90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
/* Rotation 180deg  */
@keyframes r180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* Rotation 200deg  */
@keyframes r200 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(200deg);
  }
}
/* Rotation 360deg  */
@keyframes r360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
