@keyframes outline-spread {
  0% {
    outline-offset: 0px;
  }
  25% {
    outline-offset: 1px;
  }
  50% {
    outline-offset: 2px;
  }
  75% {
    outline-offset: 3px;
  }
  100% {
    outline-offset: 4px;
  }
}

@keyframes change-text {
  0% {
    content: "Chauffage";
  }
  10% {
    content: "Électronique";
  }
  20% {
    content: "Électricité";
  }
  30% {
    content: "Garagiste";
  }
  40% {
    content: "Plomberie";
  }
  50% {
    content: "Toiture";
  }
  60% {
    content: "Piscine";
  }

  70% {
    content: "Serrurerie";
  }

  80% {
    content: "Travaux";
  }

  90% {
    content: "Ménage";
  }

  100% {
    content: "Informatique";
  }
}

@keyframes Bounce {
  0% {
    transform: translate(-50%, 100%);
  }
  70% {
    transform: translate(-50%, -30px);
  }
  85% {
    transform: translate(-50%, 10px);
  }
  100% {
    transform: translate(-50%, 0);
    filter: blur(0);
  }
}

/*
############################################
#          -- SlideInFrom Animation --     #   
############################################
###-----------------Start----------------###
*/

@keyframes SlideInFrom_Right-Soft-Scale-Bounce {
  0% {
    transform: translate(100%, 0) scale(90%);
  }
  50% {
    transform: translate(-5%, 0) scale(110%);
  }
  75% {
    transform: translate(0, 0) scale(90%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Right-Soft-Scale-Bounce {
  animation: SlideInFrom_Right-Soft-Scale-Bounce 1s ease;
}

@keyframes SlideInFrom_Right-Scale-Bounce {
  0% {
    transform: translate(100%, 0) scale(80%);
  }
  50% {
    transform: translate(-5%, 0) scale(120%);
  }
  75% {
    transform: translate(0, 0) scale(80%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Right-Scale-Bounce {
  animation: SlideInFrom_Right-Scale-Bounce 1s ease;
}

@keyframes SlideInFrom_Right-Scale {
  0% {
    transform: translate(100%, 0) scale(80%);
  }
  50% {
    transform: translate(-5%, 0) scale(100%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Right-Scale-Bounce {
  animation: SlideInFrom_Right-Scale-Bounce 1s ease;
}

@keyframes SlideInFrom_Left-Scale-Bounce {
  0% {
    transform: translate(-100%, 0) scale(80%);
  }
  50% {
    transform: translate(5%, 0) scale(120%);
  }
  75% {
    transform: translate(0, 0) scale(80%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Left-Scale-Bounce {
  animation: SlideInFrom_Left-Scale-Bounce 1s ease;
}

@keyframes SlideInFrom_Left-Soft-Scale-Bounce {
  0% {
    transform: translate(-100%, 0) scale(90%);
  }
  50% {
    transform: translate(5%, 0) scale(110%);
  }
  75% {
    transform: translate(0, 0) scale(90%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Left-Soft-Scale-Bounce {
  animation: SlideInFrom_Left-Soft-Scale-Bounce 1s ease;
}

@keyframes SlideInFrom_Left-Bounce {
  0% {
    transform: translate(-100%, 0) scale(80%);
  }
  50% {
    transform: translate(5%, 0) scale(100%);
  }
  100% {
    transform: translate(0, 0) scale(100%);
  }
}

.SlideInFrom_Left-Bounce {
  animation: SlideInFrom_Left-Bounce 1s ease;
}

@keyframes SlideInFrom_Right-Bounce {
  0% {
    transform: translate(100%, -50%);
  }
  50% {
    transform: translate(-5%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}

.SlideInFrom_Right-Bounce {
  animation: SlideInFrom_Right-Bounce 1s ease;
}

@keyframes SlideInFrom_Bottom-Bounce {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.SlideInFrom_Bottom-Bounce {
  animation: SlideInFrom_Bottom-Bounce 1s ease;
}
/*
###-----------------END------------------###
############################################
#          -- Pop Animation --             #   
############################################
*/

/*
############################################
#          -- Pop Animation --             #   
############################################
###-----------------Start----------------### 
*/

@keyframes Pop_In {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes Pop_Out {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes Pop_In-Bounce {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes Pop_Out-Bounce {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(0%);
  }
}
/*
###-----------------END------------------### 
############################################
#          -- Pop Animation --             #   
############################################
*/

@keyframes homepage-tempName {
  0% {
    content: "Développeur Front-end.";
  }
  50% {
    content: "Développeur Web Junior.";
  }
  100% {
    content: "Web Designer.";
  }
}

@keyframes animation_title {
  0% {
    content: "HTML & CSS.";
  }
  50% {
    content: "JavaScript.";
  }
  100% {
    content: "WebDesign.";
  }
}

@keyframes scroll {
  to {
    left: -200px;
  }
}
