.homepage-bg {
  background-image: url(../images/skyrim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(24, 24, 24);
  transform: translate(-10%, -10%);
  width: 120vw;
  height: 120vh;
  z-index: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.trigger {
  position: absolute;
  z-index: 100;
}

.trigger-right,
.trigger-left {
  top: 0;
  height: 100%;
  width: 500px;
}

.trigger-left {
  left: 0;
}
.trigger-left:hover ~ .homepage-bg {
  transform: translate(-5%, -10%);
}

.trigger-right {
  right: 0;
}
.trigger-right:hover ~ .homepage-bg {
  transform: translate(-15%, -10%);
}

.trigger-top,
.trigger-bottom {
  height: 300px;
  width: 100%;
}

.trigger-top {
  top: 0;
}
.trigger-top:hover ~ .homepage-bg {
  transform: translate(-10%, -5%);
}

.trigger-bottom {
  bottom: 0;
}
.trigger-bottom:hover ~ .homepage-bg {
  transform: translate(-10%, -15%);
}

.trigger-corner {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 101;
}

.trigger-corner-topleft {
  top: 0;
  left: 0;
}

.trigger-corner-topright {
  top: 0;
  right: 0;
}

.trigger-corner-bottomleft {
  bottom: 0;
  left: 0;
}

.trigger-corner-bottomright {
  bottom: 0;
  right: 0;
}

.trigger-corner-topleft:hover ~ .homepage-bg {
  transform: translate(-5%, -5%);
}

.trigger-corner-topright:hover ~ .homepage-bg {
  transform: translate(-15%, -5%);
}

.trigger-corner-bottomleft:hover ~ .homepage-bg {
  transform: translate(-5%, -15%);
}

.trigger-corner-bottomright:hover ~ .homepage-bg {
  transform: translate(-15%, -15%);
}

.homepage-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.title-section {
  text-shadow: 0 0 10px black;
}

.homepage-tempName::after {
  content: "";
  animation: homepage-tempName 8s linear infinite;
}


