body {
  background-color: var(--backgroundColor);
  color: var(--dark-contrast);
  overflow-y: auto;
  overflow-x: hidden;
}

:focus-visible {
  background-color: var(--primaryColor) !important;
  color: var(--dark-contrast) !important;
  border-radius: var(--border-radius);
  img {
    transform: scale(1.02);
    filter: brightness(1.2);
    outline-offset: 3px;
    border: none;
    outline: 2px solid var(--primaryColor);
    transition: all 0.2s ease-in-out;
  }
}

.button-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 102;
}

strong {
  color: var(--primaryColor);
  padding-bottom: 3px;
}

* {
  box-sizing: border-box;
  vertical-align: middle;
  font-family:
    Jetbrains Mono,
    monospace;
}

.text-4xl {
  font-size: 3rem;
  line-height: 3.5rem;
}

.dark {
  background-color: #121212;
}
.light {
  background-color: #d9d9d9;
}
