:root {
  --primaryColor: royalblue;
  --secondaryColor: midnightblue;
  --tertiaryColor: indigo;
  --backgroundColor: rgb(11, 14, 20);
  --vibrantColor: rgba(217, 217, 217, 0.25);
  --alert: rgb(158, 4, 4);
  --warning: rgb(148, 97, 3);
  --success: darkgreen;
  --info: #2196f3;
  --muted: darkgrey;

  /* THEME COLORS */

  /* -Halloween- */
  --Halloween-primaryColor: orange;
  --Halloween-secondaryColor: indigo; /* also white work */
  --Halloween-tertiaryColor: orangered;

  /* TEXT AND POLICES */

  /* font size */
  --fs-h1: 3em;
  --fs-h2: 2.5em;
  --fs-h3: 2em;
  --fs-p: 1em;

  /* line height */
  --lh-h1: 50px;
  --lh-h2: 40px;
  --lh-h3: 30px;
  --lh-p: 1.3em;

  /* letter spacing */
  --ls-h: 7%;
  --ls-p: 5%;

  /* grid gap */
  --grid-gap: 20px;

  /* fonts */
  --fonts: "JetBrainsMono", monospace;

  /* BORDER */
  --border-thin-solid: 1px solid;
  --border-medium-solid: 2px solid;
  --border-large-solid: 3px solid;

  /* TRANSITION SPEED */
  --transition-fast: 0.5s ease;
  --transition-normal: 1s ease;
  --transition-normal-slow: 1.5s ease;
  --transition-slow: 2s ease;

  --border-radius: 5px;
  --global-blur: 10px;

  /* --DARK THEME-- */
  --dark-var1: black;
  --dark-var2: #121212;
  --dark-var3: #141414;
  --dark-contrast: var(--light-var2);
  --dark-box-shadow: rgba(255, 255, 255, 25%);
  --dark-border: var(--light-var2);

  /* --LIGHT THEME-- */
  --light-var1: white;
  --light-var2: #d9d9d9;
  --light-var3: #d1d1d1;
  --light-contrast: var(--dark-var2);
  --light-box-shadow: rgba(0, 0, 0, 25%);
  --light-border: var(--dark-var2);

  --animation-1: SlideInFrom_Left-Soft-Scale-Bounce;
}
