.homepage-bg {
  background-image: url(../images/skyrim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(24, 24, 24);
  transform: translate(-10%, -10%);
  width: 120vw;
  height: 120vh;
  z-index: 0;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.trigger {
  position: absolute;
  z-index: 100;
}

.trigger-right,
.trigger-left {
  top: 0;
  height: 100%;
  width: 500px;
}

.trigger-left {
  left: 0;
}
.trigger-left:hover ~ .homepage-bg {
  transform: translate(-5%, -10%);
}

.trigger-right {
  right: 0;
}
.trigger-right:hover ~ .homepage-bg {
  transform: translate(-15%, -10%);
}

.trigger-top,
.trigger-bottom {
  height: 300px;
  width: 100%;
}

.trigger-top {
  top: 0;
}
.trigger-top:hover ~ .homepage-bg {
  transform: translate(-10%, -5%);
}

.trigger-bottom {
  bottom: 0;
}
.trigger-bottom:hover ~ .homepage-bg {
  transform: translate(-10%, -15%);
}

.trigger-corner {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 101;
}

.trigger-corner-topleft {
  top: 0;
  left: 0;
}

.trigger-corner-topright {
  top: 0;
  right: 0;
}

.trigger-corner-bottomleft {
  bottom: 0;
  left: 0;
}

.trigger-corner-bottomright {
  bottom: 0;
  right: 0;
}

.trigger-corner-topleft:hover ~ .homepage-bg {
  transform: translate(-5%, -5%);
}

.trigger-corner-topright:hover ~ .homepage-bg {
  transform: translate(-15%, -5%);
}

.trigger-corner-bottomleft:hover ~ .homepage-bg {
  transform: translate(-5%, -15%);
}

.trigger-corner-bottomright:hover ~ .homepage-bg {
  transform: translate(-15%, -15%);
}

.homepage-main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.title-section {
  text-shadow: 0 0 10px black;
}

.homepage-tempName::after {
  content: "";
  animation: homepage-tempName 8s linear infinite;
}

.notification {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 1000;
  margin: 10px;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--dark-contrast);
  border-radius: var(--border-radius);
  animation: SlideInFrom_Right-Scale-Bounce 1s ease forwards;
}
.notification-success {
  background-color: var(--success);
}
.notification-error {
  background-color: var(--alert);
}
.notification-warning {
  background-color: var(--warning);
}
.notification-information {
  background-color: var(--info);
}
/* .blur-container {
  position: absolute;
  filter: blur(100px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
} */

.blur-item-blue {
  background-color: var(--secondaryColor);
  width: 45em;
  height: 25em;
  filter: blur(100px);
  border-radius: 50%;
}
