.dark {
  background-color: var(--dark-var1);
  color: var(--dark-contrast);
}
.light {
  background-color: var(--light-var2);
  color: var(--light-contrast);
}

:focus-visible {
  background-color: var(--primaryColor) !important;
  color: var(--dark-contrast) !important;
  border-radius: var(--border-radius);
  img {
    transform: scale(1.02);
    filter: brightness(1.2);
    outline-offset: 3px;
    border: none;
    outline: 2px solid var(--primaryColor);
    transition: all 0.2s ease-in-out;
  }
}

strong {
  color: var(--primaryColor);
  padding-bottom: 3px;
}

* {
  box-sizing: border-box;
  vertical-align: middle;
  font-family:
    Jetbrains Mono,
    monospace;
}

.text-4xl {
  font-size: 3rem;
  line-height: 3.5rem;
}
.bevel-border {
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    corner-shape: bevel;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  @-moz-document url-prefix() {
    border: 0px solid white;
  }
}
